.header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    &__img {
       height: 68px; 
    }
    &__links {
        display: flex;
        gap: 57px;
        text-align: center;
        & a {
            color: black;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }
}

@media (max-width: 768px) {
    .navbar {
        &__img {
            height: auto;
            width: 145px;
        }
        &__links {
            gap: 26px;
            & a {
                font-size: 12px;
            }
        }
    }
}